.footer__container {
    background: var(--celeste-color);
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem;
}

.footer__terminos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__terminos a{
    color: #fff;
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__contact-container a {
    color: #fff;
}

.footer__copyright-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__contact-c2 {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 1350px) {
    .footer__container {
        padding: 4rem;
        gap: 2rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 650px) {
    .footer__container {
        padding: 2rem;
        justify-content: flex-start;
        align-items: center;
    }
    .footer__logo {
        justify-content: center;
        display: flex;
        width: 100%;
    }
}